html,
body,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  text-transform: none;
  text-decoration: none;
  -webkit-text-decoration: none;
}
:lang(en) {
  unicode-bidi: embed;
  direction: ltr;
}
// ::selection {
//   @apply bg-primary;
//   color: #fff;
//   text-shadow: none;
// }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.main , .main-auth{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  padding: 1em;
  .workflow-devider-container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgb(255 255 255 / 50%);
    border: 1px solid #def1fb;
    border-radius: 0.5em;
    gap: 1em;
    padding: 0.5em;
    .workflow-list-container {
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      border-radius: 0.5em;
      display: flex;
      flex-direction: column;
      flex: 1 1 0;
      width: 0;

      /* width */
      &::-webkit-scrollbar {
        width: 4px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background-color: #63c1ff;
        border-radius: 16px;
        transition: all 0.3s;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background-color: #009aff;
      }
    }
  }
  .workflow-task-item-wrapper {
    width: calc(100% - 0.7em);
    border: 1px solid #dfdfdf;
    margin: 0.35em;
    padding: 0.25em 0.5em 0.25em 0.75em;
    border-radius: 0.25em;
    position: relative;
    overflow: hidden;
    &:before {
      content: " ";
      display: block;
      position: absolute;
      width: 2%;
      top: 0;
      left: 0;
      bottom: 0;
      background: currentColor;
      transition: all 0.3s;
    }
    .workflow-task-item {
      display: flex !important;
      flex-direction: column !important;
      align-items: start !important;
      padding: 0;
      margin: 0;
      .workflow-task-item-title{
        display: flex;
        align-items: center;
        justify-content: start;
        svg{
          transition: all 0.3s;
        }
        span{
          color: #000;
        }
      }
    }
    .workflow-task-item-drag-handle{
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
    }
  }
  
}
.loading-overlay{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.displable-edit-text-field{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  white-space: break-spaces;
  .displable-edit-text-field-hidden-item{
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
  input{
    padding: 0.5em 0.25em;
  }
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  *{
    background-color: transparent !important;
  } 
}